{% extends 'base.html' %}

{% block title %}
    Lista zawodników
{% endblock %}

{% block container %}
    <h1 class="modal-title">Lista zawodników:</h1>
    <table class="table table-dark table-striped">
    <tr>
        <th>Nr</th>
        <th>Nazwa Zawodnika</th>
        {% if perms.players.add_player %}
            <th>Edytuj</th>
            <th>Usuń</th>
            <th>Przypisz zawodnika do zespołu</th>
        {% endif %}
    </tr>
    {% for player in players %}
        <tr>
        <td>{{ forloop.counter }}.</td>
            <td><a href="{% url 'players:player_detail' pk=player.pk %}"
                   class="link-success">{{ forloop.counter }}. {{ player.fullname }} </a></td>
            {% if perms.players.add_player %}
                <td><a href="{% url 'players:player_edit' pk=player.pk %}" class="btn btn-info">Edytuj</a></td>
                <td><a href="{% url 'players:player_delete' pk=player.pk %}" class="btn btn-danger">Usuń</a></td>
                <td><a href="{% url 'teams:add_player_to_team' %}" class="btn btn-success">Dodaj zawodnika do
                    zespołu</a></td>
            {% endif %}
        </tr>

    {% empty %}
        <h3> - Jeszcze nie dodano żadnych zawodników</h3>
    {% endfor %}
    </ul>

{% endblock %}

