<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GALP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home:home' %}">Home</a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Zaloguj się</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'users:registration' %}">Rejestracja</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'logout' %}">Wyloguj {{ user.username }}</a>
                    </li>

                {% endif %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Rozgrywki
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="{% url 'competitions:competition_list' %}">Lista
                            rozgrywek</a></li>
                        {% if perms.competitions.view_competitions %}
                            <li><a class="dropdown-item" href="{% url 'competitions:competition_create' %}">Dodaj
                                rozgrywki</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="dropdown" >
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Zespoły
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item active" href="{%  url 'teams:teams_list' %}">Lista
                            Zespołów</a></li>
                        {% if perms.teams.view_teams %}
                            <li><a class="dropdown-item" href="{% url 'teams:team_add' %}">Dodaj
                                Zespół</a></li>
                        {% endif %}
                    </ul>
                </div>
            </ul>

        </div>
    </div>
</nav>

