{% extends 'base.html' %}

{% block title %}
    Szczegóły
{% endblock %}

{% block container %}

    <h1> Nazwa Zespołu: {{ teams.team_name }}</h1>
    <h1> Właściciel Zespołu: {{ teams.owner }}</h1>
    <h3>W drużynie występowali: </h3>
    {%  for team in teams.playerinteam_set.all %}
    <h4>{{ forloop.counter }}. {{ team.player }} w rozgrywkach {{ team.season }}
                {% if perms.teams.view_teams %}
        <a href="{%  url 'teams:delete_player_for_team' pk=team.pk %}" class="btn btn-danger">Usuń</a>
                {% endif %}
    </h4>


    {% endfor %}


{% endblock %}