{% extends 'base.html' %}

{% block title %}
    Szczegóły
{% endblock %}

{% block container %}

    <h1> Lista zgłoszonych zawodników drużyny {{ team.team_name }} w
        rozgrywkach {{ competition.competition_name }} </h1>
    <table class="table table-dark table-striped">
        <tr>
            <th>Nr</th>
            <th>Nazwa zawodnika:</th>
            {% if perms.competitions.delete_playerinteam %}
                <th>Usuń</th>
            {% endif %}
        </tr>
        {% for player in players %}
            <tr>
                <td> {{ forloop.counter }}.</td>
                <td>{{ player.player.fullname }} </td>
                {% if perms.competitions.delete_playerinteam %}
                    <td><a href="{% url 'teams:delete_player_for_team' pk=player.pk %}" class="btn btn-danger">Usuń</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}