{% extends 'base.html' %}

{% block title %}
    Szczegóły
{% endblock %}

{% block container %}


    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark"><a href="{% url 'competitions:table' pk=competition.pk %}"
                                                      class="btn btn-dark"> Tabela </a></button>
        <button type="button" class="btn btn-dark"><a href="{% url 'competitions:schedule_list' pk=competition.pk %}"
                                                      class="btn btn-dark"> Terminarz </a></button>
        <button type="button" class="btn btn-dark"><a href="{% url 'competitions:competition_list' %}"
                                                      class="btn btn-dark"> Lista Rozgrywek </a></button>
    </div>

    <h1> Rozgrywki: {{ competition.competition_name }}</h1>
    <table class="table table-dark  table-striped">
        <tr>
            <th>Nr</th>
            <th>Nazwa zespołu</th>
            <th>Właściciel Zespołu</th>
        </tr>
        {% for team in competition.teams.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ team.team_name }}</td>
                <td>{{ team.owner }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}