{% extends 'base.html' %}

{% block title %}
    Lista rozgrywek
{% endblock %}

{% block container %}
    <h1 class="modal-title">Lista rozgrywek:</h1>
    <table class="table table-dark  table-striped">
        <tr>
            <th>Nr</th>
            <th>Nazwa rozgrywek</th>
            <th>Organizator</th>
            {% if perms.competitions.delete_competition %}
                <th>Pole edycji</th>
                <th>Usuń</th>
            {% endif %}
        </tr>
        {% for competition in competitions %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td><a href="{% url 'competitions:competition_detail' competition.pk %}"
                       class="link-success">{{ competition.competition_name }}</a></td>
                <td>{{ competition.owner }}</td>
                {% if perms.competitions.delete_competition %}
                    <td><a href="{% url 'competitions:competition_edit' pk=competition.pk %}"
                           class="btn btn-info">Edytuj</a></td>
                    <td><a href="{% url 'competitions:competition_delete' pk=competition.pk %}"
                           class="btn btn-danger">Usuń</a></td>
                {% endif %}
            </tr>
        {% empty %}
            <h3> - Jeszcze nie dodano żadnych rozgrywek</h3>
        {% endfor %}
    </table>
{% endblock %}

