{% extends 'base.html' %}
{% block title %}
    Usuwanie spotkania
{% endblock %}
{% block container %}
    <form action="" method="post">
        {% csrf_token %}
        <h2>Usuwanie spotkania</h2>
        <h3 class="alert-danger">Czy na pewno chcesz usunąć spotkanie</h3>
        <button type="button" class="btn btn-warning">
            <a href="{% url 'competitions:competition_list' %}">Anuluj</a>
        </button>
        <button type="submit" class="btn btn-danger">Potwierdź</button>
    </form>



{% endblock %}
