{% extends 'base.html' %}

{% block title %}
    Terminarz rozgrywek
{% endblock %}

{% block container %}
    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark"><a href="{% url 'competitions:table' pk=competition.pk %}"
                                                      class="btn btn-dark"> Tabela </a></button>
        <button type="button" class="btn btn-dark"><a href="{% url 'competitions:schedule_list' pk=competition.pk %}"
                                                      class="btn btn-dark"> Terminarz </a></button>
        <button type="button" class="btn btn-dark"><a href="{% url 'competitions:competition_list' %}"
                                                      class="btn btn-dark"> Lista Rozgrywek </a></button>
    </div>

    <h1 class="modal-title">Tabela rozgrywek: {{ competition.competition_name }} </h1>

    <table class="table table-dark table-striped ">
        <tr>
            <th>Pozycja</th>
            <th>Nazwa Drużyny</th>
            <th>Liczba spotkań</th>
            <th>Bramki strzelone</th>
            <th>Bramki stracone</th>
            <th>Punkty</th>
        </tr>
        {% for team in table_league %}
            <tr>
            <td>{{ forloop.counter }}.</td>
            <td>{{ team }} </td>
            {% for key, value in table.items %}
                {% if team == key %}
                    {% for key, value in value.items %}
                        <td>{{ value }} </td>
                    {% endfor %}
                {% endif %}


            {% endfor %}
        {% endfor %}
    </table>

{% endblock %}